NODE_ENV = dev or prod

PROTOCOL = http or https
DOMAIN = domain
PORT = number

CLOUDFLARE_API_TOKEN=api_token_here
CLOUDFLARE_API_BASE_URL=https://api.cloudflare.com/client/v4
CLOUDFLARE_ACCOUNT_ID=account_id_here